<div class="w-full flex justify-between p-2">
  <mat-chip-listbox>
    @for (category of categories; track $index) {
      <mat-chip-option (click)="selectFilter(category)">
        {{ category }}
      </mat-chip-option>
    }
  </mat-chip-listbox>
  <mat-chip-listbox>
    <mat-chip-option (click)="priceFilter('LOW_TO_HIGH')" selected>low to high</mat-chip-option>
    <mat-chip-option (click)="priceFilter('HIGH_TO_LOW')">high to low</mat-chip-option>
  </mat-chip-listbox>
</div>
<div class="flex flex-wrap items-center justify-around gap-1 border-t-2">

  @if (products.length == 0) {
    <h1 class="font-semibold text-xl">Nothing to show....</h1>
  }
  @for (product of products; track $index) {
    <app-product-card [product]="product"/>
  }
  @if (!isProductEmpty) {
    <p (click)="loadMoreProduct()" class="cursor-pointer text-center text-blue-700 hover:underline ">
      Show more....
    </p>
  }
</div>
