<h1 align="center" mat-dialog-title>Provide address details!</h1>
<form (submit)="onSubmit()" class="w-full">
  <div class="flex flex-col" mat-dialog-content>
    <mat-form-field class="w-full md:mx-auto md:w-4/5">
      <mat-label>Address</mat-label>
      <input [(ngModel)]="address.address" matInput name="address" required>
    </mat-form-field>

    <mat-form-field class="w-full md:mx-auto md:w-4/5">
      <mat-label>City</mat-label>
      <input [(ngModel)]="address.city" matInput name="city" required>
    </mat-form-field>
    <mat-form-field class="w-full md:mx-auto md:w-4/5">
      <mat-label>Phone</mat-label>
      <input [(ngModel)]="address.phone" matInput name="phone" required>
    </mat-form-field>
    <mat-form-field class="w-full md:mx-auto md:w-4/5">
      <mat-label>Zip</mat-label>
      <input [(ngModel)]="address.zip" matInput name="zip" required>
    </mat-form-field>

  </div>
  <div align="center" mat-dialog-actions>
    <button color="warn" mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="!validateFields()" color="primary" mat-raised-button type="submit">Submit</button>
  </div>
</form>
