<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>store</mat-icon>
  </button>
  <span>My Store</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="/search" matTooltip="Search" matTooltipShowDelay="500" >
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button routerLink="/carts" matTooltip="Cart" matTooltipShowDelay="500" >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button routerLink="/orders" matTooltip="Orders" matTooltipShowDelay="500" >
    <mat-icon>local_shipping</mat-icon>
  </button>
  <button mat-icon-button routerLink="/profile" matTooltip="Profile" matTooltipShowDelay="500" >
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
