<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>store</mat-icon>
  </button>
  <span>My Store</span>
  <span class="example-spacer"></span>
  <button mat-icon-button matTooltip="Search" matTooltipShowDelay="500" routerLink="/search">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Cart" matTooltipShowDelay="500" routerLink="/user/cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Orders" matTooltipShowDelay="500" routerLink="/user/orders">
    <mat-icon>local_shipping</mat-icon>
  </button>
  @if (isAdmin === 'ADMIN') {
    <button mat-icon-button matTooltip="Admin Panel" matTooltipShowDelay="500" routerLink="/admin">
      <mat-icon>shield_person</mat-icon>
    </button>
  }
  <button mat-icon-button matTooltip="Profile" matTooltipShowDelay="500" routerLink="/user/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
