<div class="w-full flex justify-end items-center" mat-dialog-actions>
  <button mat-dialog-close mat-icon-button>
    <mat-icon>
      close
    </mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="flex items-center justify-evenly space-x-2">
    <button (click)="minus()" mat-icon-button>
      <mat-icon>remove</mat-icon>
    </button>
    <button class="border rounded-lg py-2 px-8 font-medium">
      {{ quantity }}
    </button>
    <button (click)="plus()" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  @for (address of addresses; track $index) {
    <div class="mb-2 p-5 w-full border rounded-lg" [ngClass]="$index===selectedIndex?'border-purple-600':''"
         (click)="select($index)">
      <p class="font-semibold">{{ address.address }}</p>
      <p>{{ address.city }},{{ address.zip }}</p>
      <p class="font-medium">{{ address.phone }}</p>
    </div>
  }
  @if (addresses.length === 0) {
    <p class="underline cursor-pointer" routerLink="/profile" mat-dialog-close>add address</p>
  }
  <button (click)="createOrder()" [disabled]="selectedIndex==-1" color="primary" mat-raised-button>
    Submit
  </button>
</div>
